*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #d48787;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}


/* Titulo mis tareas (como hay uno solo puedo usar selector de tipo y ya)*/

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas{
  display: flex;
  flex-wrap: wrap; /* ya que como los elementos no entran en una linea
  por el tamaño del contenedor, que bajen y completen la siguiente linea
  verticalmente cuando no entren. queremos que los componentes estén en
  vertical uno abajo del otro */
  justify-content: center;
  align-items: center; /* de este que es el contenedor principal queremos
  que toodo este alineado horizontal y verticalmente por eso esas dos
  ultimas lineas*/
}


/* Contenedor del Logo de Free Code Camp*/

.freecodecamp-logo-contenedor{
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
   /* las dos ultimas lineas son porque
  el logo tiene que estar centrado en su div que es este */
}

/* Logo de Free Code Camp */

.freecodecamp-logo{
  width: 400px;
  height: 50px;
}

/* Contenedor Lista De Tareas */

.tareas-lista-principal{
  width: 600px;
  min-height: 500px; /* altura minima porque si agregamos
  muchas tareas lo que queremos que pase es que el contenedor
  se expanda (alargue) verticalmente */
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  justify-content: center;
  border-radius: 26px;
}
